# --- Core Deep Learning Framework ---
tensorflow==2.20.0
tf-keras==2.20.0
keras>=3.0.0

# --- Fix Xung đột Lõi (Tránh lỗi Crash & MessageFactory) ---
numpy==1.26.4
protobuf>=5.26.1,<6.0.0

# --- Xử lý Ảnh & Giao diện Camera ---
opencv-python>=4.8.0
pillow>=10.0.0

# --- Xử lý Dữ liệu & Đồ họa ---
pandas>=2.0.0
matplotlib>=3.7.0
seaborn>=0.12.0
scikit-learn>=1.2.2